.w-1\/2.md\:w-1\/3.xl\:w-1\/4.p-4 {
    display: flex;
    width: 94%;
}
.card.w-1\/2.h-128.shadow-lg.shadow-black.bg-\[\#F9C072\].flex.flex-col.items-center.justify-center.p-5.mt-4 {
    width: 50%;
}